

body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #DF01D7;
}

.quem-somos{
    background-color: #FE2E64;
    color: white;
}

.margin{
    padding-top: 20px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #8A0868;
}

.servicos{
    background-color: #DF013A;
}

.bg-footer{
    background-color: #2F0B3A;
    color: #AEB404;
}